body{
    
    color: whitesmoke;
    background-image: url("https://www.emobilis.ac.ke/images/sliders/slide_7.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
  }
  /* Full-width inputs */
  input[type=text], input[type=password] {
    background-color: black;
    width: 25%;
    padding: 12px 20px;
    margin: 12px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    justify-content: center;
    
    
  }
  
  /* Set a style for all buttons */
  button {
    background-color: rgba(27, 26, 101, 0.8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  

  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  
