/* I don't hold the copy right of the image, this image is being used for education purpose only  */

body{
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
    background-image: url("https://www.emobilis.ac.ke/images/sliders/slide_7.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
  }
  
  .container{
    width: 100%;
    margin: 3.5em auto 0 0.8em;
  }
  
  form{
    width: 620px;
    background-color: rgba(27, 26, 101, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
  }

  .btn-lg{
    background-color: rgba(27, 26, 101, 0.8);
  }
  
  #title{
    font-size: 2em;
    margin-left: 20px;
  }
  
  #description{
    margin-left: 20px;
  }
  
  header{
    background-color: red;
    width: 48%;
    border-radius: 10px;
  }
  
  .form-group{
    margin: 0 auto 0.25em auto;
    padding: 0.25em;
  }
  
  p{
    margin: 10px 0px;
  }
  
  .row p{
    margin: 0 auto 0.25em auto;
    padding: 0.25em;
  }
  
  .form-check p{
    margin: 0 auto 0.25em auto;
    padding: 0.25em;
  }
  
  @media screen and (max-width: 480px){
    .container{
      margin: 10 0;
    }
    form{
      width: 268px
    }
    header{
      width: 268px;
    }
    #title{
      font-size: 1.35em;
      padding: 5px;
    }
    
    #description{
      padding-bottom: 5%;
    }
   }

